.log-body__footer
  %ul.log-body__footer__clearfix
    %li.log-body__footer__clearfix__privacy プライバシーポリシー
    %li.log-body__footer__clearfix__tos  メルカリ利用規約
    %li.log-body__footer__clearfix__tokutei  特定商取引に関する表記
  .log-body__footer__logo
    = image_tag "image_grey.png" , width: 100 , height: 65
  .log-body__footer__small
    ©️2019 Mercari