.log-out-box
  -# =form_with model: @user,url: user_registration_path, method: delete,do |f|
  =link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log-out-box__button"
= render "shared/red-camera"