.login-body
  .login-body__container
    .phone-main
      .phone-main__box
        .phone-main__box__text
          電話番号の確認
        .phone-main__box__registration
          .phone-main__box__registration__content
            .phone-main__box__registration__content__form
              %h2.phone-main__box__registration__content__form__text
                携帯電話の番号
              %input.phone-main__box__registration__content__form__phone-number{placeholder: "携帯電話の番号を入力"}
            %p.phone-number-text
              本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            %submit.btn-sns
              SMSを送信する
            %p.phone-number-text
              ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .text-right
              = link_to "電話番号の確認が必要な理由" , "" , class: "text-right__link" 
              = fa_icon "angle-right" , class: "angle-right-icon fa-lg"
            