// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

* {
  box-sizing: border-box;
}


.header{
  height:100px;
  width: 100%;

  &__box{
    width: 1020px;
    margin: 0 190px;
    background-color: $white;

    &__top{
      height: 40px;
      display: flex;

      &__h1{
        height: 50px;
        width: 165px;
      };

      &__right{
        width: calc( 100% - 165px );
        // border: solid 1px #6091d3;
        border-radius: 4px;
        display: flex;
        position: relative;
        margin-top: 8px;
      
        &__search{
          width: 100%;
          margin-left: 25px;
          height: 40px;
          // border-radius: 4px;
          .search{
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background-color: $background_gray;
            -webkit-appearance: textfield;
            border: none;
            border: solid 1px lightgrey;
            padding-left: 10px;
            // i{
            //   padding-left: 10px;
            // };
          };
        };

        &__icon{
          .search-icon{
            position: absolute;
            top: 10px;
            right: 12px;
          };
          a{
            color: $black;
          };
        };
      };
    };

    &__bottom{
      height: 44px;
      display: flex;
      justify-content: space-between;
      margin-top: 8px;

      &__li{
        height: 44px;
        display: flex;
        justify-content: space-between;
        width: 1020px;
        margin-top: 4px;
        
        .li-left{
          height: 44px;
          width: 320px;
          display: flex;
          margin-left: 16px;
          .li-search{
            font-weight: bold;
            font-size: 14px;
            height: 44px;
            width: 160px;
            display: flex;
            align-items: center;

            .search-icon-left{
              padding-right: 2px;
              color: $red;
            };

            a{
              text-decoration: none;
              color: $black;
              margin-left: 5px;
            };
            a:hover{
              color: $light_blue;
            };
          };
        };

        .li-right{
          display: flex;
          align-items: center;
          position: absolute;
          right: 142px;
          height: 44px;
          width: 580px;
          .iine{
            width: 133px;
            font-size: 14px; 
          };
          .hover{
            font-size: 14px; 
          };
          .hover:hover{
            color: $light_blue;
            i{
              color: $light_blue;
            };
          };
        
          .message{
            width: 105px;
            font-size: 14px;
          };

          .todo{
            width: 140px;
            font-size: 14px;
           
            a{
              margin-left: 3px;
            };
          };

          .mypage{
            width: 126px;
            font-size: 14px;
            a{
              top: 12px;
              position: absolute;
            };
            img{
              border-radius: 50%;
            };
          };

          .search-icon-right{
            color: #ccc;
            font-size: 18px;
          };

          a{
            text-decoration: none;
            color: $black;
            margin-left: 10px;
          };
          a:hover{
            color: $light_blue;
          };
        };
      };
    };
  };
};

.toppage-main-box{
  height: 600px;
  width: 100%;
};


.footer__image{
  height: 260px;
  width: 100%;
};

.footer__box{
  height: 381px;
  width: 100%;
  padding: 0 20px 10px 10px;
  background-color: $footer_backgroundcolor;

  &__top{
    height: 298px;
    width: 100%;
    margin: 0 25px;

    .footer-list{
      height: 280px;
      width: 204px;

    .footer-list2{
      height: 170px;
      width: 195px;
    };

      .footer-title{
        padding-top: 16px;
        height: 22px;
        font-size: 16px;
        margin-bottom: 34px;
        color: $white;
      };

      ul{
        font-size: 12px;
        color: lightgray;
        a{
          display: block;
          margin-top: 16px;
          font-size: 12px;
          line-height: 1.5em;
          color: $pale_gray;
          text-decoration: none;
        };
      };
    };
  };

  &__bottom{
    height: 33px;
    margin: 30px 69.5px 20px;
    .mercari-logo{
      height: 33px;
      width: 124px;
    };
    .copyright{
      height: 14px;
      width: 745px;
    };
  };
};