@import "./variable";
@import "./mixin";

.login-hidden{
  display: none;
};

.login-block{
  display: block;
}

.kiyaku{
  text-decoration: none;
  color: $light_blue;
  font-size: 14px;
}

.angle-down{
  transform:translateX(70px) translateY(15px);
  
}

.angle-right-icon{
  color: $light_blue;
}
  
.merukari{
  line-height: 49px;
  text-decoration: none;
  height: 70px;
  width: 200px;
}

.kaiin-body{
  background: #f5f5f5;
  min-height: 100%;
  box-sizing: border-box;
  &__main{
    display: block;
    box-sizing: border-box;
    &__box{
      width: 700px;
      margin: 0 auto;
      height: 1300px;
      background-color: $white;
      box-sizing: border-box;
      &__h2{
        font-size: 22px;
        padding: 32px;
        text-align: center;
        }
      &__inner{
        padding: 24px 16px 40px;
        border-top: 1px solid #f5f5f5;
        display: block;
        box-sizing: border-box;
        &__contents{
          max-width: 343px;
          margin: 0 auto;
          &__form-box{
            margin: 0;
            box-sizing: border-box;
            &__nick-name{
              cursor: default;
              }
            &__hissu{
                @include form-icon($red);
                padding: 3px 4px;
                font-size: 13px;
              }
            &__input-box{
              height: 30px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              width: 100%;
              margin: 4px 0 0;
              }
          }
          &__form-box2-8{
            margin: 24px 0 0;
            box-sizing: border-box;
            &__h3{
              font-size: 16px;
              margin: 0px;
            &__honbun{
              margin: 8px 0 0;
              font-size: 14px;
              }
            &__doublebox{
              margin: 0%;
              } 
            }  
          }
          &__form-box2-8{
            margin: 24px 0 0;
            &__doublebox{
              margin: 0%;
              display: flex;
              &__input-box2{
                margin-right: 12px;
                height: 30px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                width: 100%;
              }
            } 
          }
          &__form-box2-8{
            margin: 24px 0 0;
            &__doublebox{
              margin: 0%;
              display: flex;
              &__select{
                display: flex;
                font-size: 14px;
                &__down-box{
                  background-image: url(icon_arrow.png);
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  margin-right: 12px;
                  height: 48px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                  width: 76px;
                  }
              &__text{
                font-size: 13px;
                margin: 17px 10px 0 0;
                }
              }
            } 
          }
          &__text-info{
            margin: 8px 0 0;
            line-height: 1.5;
            color: #888;
            font-size: 13px;
            }
          }
          &__contents{
            max-width: 343px;
            margin: 0 auto;
            display: block;
            box-sizing: border-box;
            &__robot{
              margin: 40px 0 0;
              height: 74px;
              width: 350;
              background-color: #f5f5f5;
              border-radius: 5px;
              border: 1px solid rgb(187, 185, 185);
              &__box{
                height: 30px;
                width: 30px;
                border: 2px solid rgb(187, 185, 185);
                border-radius: 2px;
                margin: 23px 12px 24px 12px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
              }
            }
            &__form-box2-8{
              margin: 24px 0 0;
              &__text{
                font-size: 14px;
                text-align: center;
                display: inline;
              }
            }
            &__btm{
              box-sizing: border-box;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              display: block;
              margin: 24px 0 0;
              width: 100%;
              height: 50px;
              line-height: 48px;
              font-size: 14px;
              text-align: center;
              border: 1px solid transparent;
              -webkit-transition: all ease-out .3s;
              transition: all ease-out .3s;
              cursor: pointer;
            }
            &__touroku-information{
              margin: 24px 0 0;
              text-align: right;
            }
          }
        }
      }
    }
  }