@import "variable";



.mypage-tab-container{
  margin:0;
  background-color: $white;
  border-top : solid 1px $background_gray;
  
  &__head{
    padding: 0 16px;
    background: $light_gray;
    font-size: 16px;
    line-height: 72px;
    margin: 0;
    font-weight: bold;
  }

  .mypage-tabs{
    list-style: none;
    display: flex;
    justify-content:space-around;
    height: 75px;
    margin: 0;
    padding: 0;

    .transaction{
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      border-top: solid 2px red;
      margin: 0;
      
      &__item{
        font-size: 16px;
        font-weight: bold;
      }
    }

    .past_transaction{
      background-color: $dark_gray;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;

      &__item{
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  .item-content-box{  
    background-color: $white;
    height: 100%;
    display: block;
    
    &__list{
      .link-display{
        text-decoration: none;
      }

      &__item{
        line-height: 20px;
        padding: 16px;
        color: $black;
        display: flex;
        flex-direction: row;
        font-size: 15px;
        
        .listing-imagebox{
          flex-direction: column;
        }

        .listing-name{
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          
          
          &__icon{
            display: flex;
            flex-direction: row;
            &__heart{

            }
            &__comment{

            }

            &__num{
              color: gray;
              margin-right: 10px; 
            }
            .listing-icon{
              color: $pale_gray;
              margin-right: 5px;
            }

            .selling-now{
              color: white;
              background-color: $light_blue;
              font-weight: bold;
              font-size: 10px;
              padding: 2px;
              border-radius: 10%;
            }
          }
        }
        .listing-angle{
          float:right;
          position: relative;
          top: 5px;
          left: 230px;
          
          .listing-right{
            color: $black;
            font-size: 30px;
          }
        }
      }
    }
  }
}



