.log-body{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: $black;
  line-height: 1; 
  &__container {
    padding: 0 0 300px;
    box-sizing: border-box;
    height: 100%;
    &__header{
      margin: auto;
      width: 700px;
      height: 128px;
      text-align: center;
      &__h1{
        display: inline-block;
        margin: 40px 0 0;
        &__url{
          width: 185px;
          height: 49px;
          line-height: 49px;
          display: inline-block;
          margin: 0 8px 0 0;
          &__img{
            width: 185px;
            height: 49px;
          }
        }
      }
    }
    .main{
      display: block;
      &__box{
        background: $white;
        width: 456px;
        margin: 0 auto;
        &__no-login{
          padding: 40px 64px;
          &__text{
            font-size: 14px;
            text-align: center;
          }
          &__box{
            display: block;
            margin: 8px 0 0;
            border: 1px solid #0099e8;
            background: #0099e8;
            color: #fff;
            line-height: 40px;
            text-align: center;
          }
          
        }
        &__form-inner{
          padding: 40px 64px;
          border-top: 1px solid #eee;
          &__facebook-btn{
            background: #385185;
            color: $white;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            position: relative;
          }
          &__google-btn{
            margin: 16px 0 0;
            background: $white url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
            border: $pale_gray solid 1px;
            color: $black;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            position: relative; 
          }
        }
        &__form-box{
          background-repeat: no-repeat;
          margin: 0;
          padding: 0;
          .main__box-inner{
            padding: 24px 64px 32px;
            &__input-mail{
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              width: 100%;
              margin: 4px 0 0;
              box-sizing: border-box;
              }
            &__input-password{
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              width: 100%;
              margin: 24px 0 0;
              box-sizing: border-box;
            }
            &__btm{
              box-sizing: border-box;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              display: block;
              margin: 24px 0 0;
              width: 100%;
              height: 50px;
              line-height: 48px;
              font-size: 14px;
              text-align: center;
              border: 1px solid transparent;
              -webkit-transition: all ease-out .3s;
              transition: all ease-out .3s;
              cursor: pointer;
            }
            &__information{
              display: block;
              margin: 120px 0 0;
            }
          }
        }
      }
    }
  }
}