.complete-main{
  display: block;
  height: 400px;
  &__box{
    background: $white;
    width: 700px;
    margin: 0 auto;
    &__text{
      font-size: 22px;
      padding: 32px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
    }
  }
  .complete-inner{
    padding: 50px 16px 50px;
    border-top: 1px solid #f5f5f5;
    display: block;
    box-sizing: border-box;
    &__contents{
      max-width: 343px;
      margin: 0 auto;
      display: block;
      text-align: left;
      &__text{
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
      }
    }
    &__submit{
      margin: auto;
      font-size: 16px;
      margin-top: 40px;
      height: 50px;
      width: 343px;
      line-height: 25px;
      color: #fff;
      background-color: #ea352d;
      max-width: 343px;
    }
  }
}