@import "variable";

.progress-bar{
  color: $black;
  width: 100px;
  height:32px;
  box-sizing: border-box;
  &__title{
    font-size: 12px;
    font-weight: 600;
    width:100px;
    text-align: center;
  }
  &__dot{
    font-size: 12px;
    width:12px;
    margin: auto;
    &__bar{
      background-color:black;
      width:97px;
      height: 2px;
      position: relative;
      bottom: 10px;
      left: 5px;
    }
  }
}

.progress-bar-box{
  width: 572px;
  height: 60px;
  box-sizing: border-box;
  display: flex;
}