.wrapper#background
  .container.clearfix
    = render "shred/side-list"
    
    .right-content
      .right-content__main-box
        -# = render ""
      .right-content__main-box__second
        -# = render ""
