.container  
  .content-main
    %section.content-main__container
      %h2.content-main__container__head
        商品は既に売切れています
      .buy-content
        .content-text
          = link_to "商品画面へ戻る", "",class: "content-text__link"